@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

  --dark-bg: #0e031b;
  --light-bg: #e4f7f5;
}

.dark {
  background: var(--dark-bg);
  color: var(--light-bg);
}
.light{
  background: var(--light-bg);
  color: var(--dark-bg);
}
